_zinit
.*sh_sessions/
.DS_Store
.zcompcache/
.zcompdump
*.log
*.pid
*.zwc
**/*sh/*history
*htoprc
/.config/*
!/.config/bash/
!/.config/bash-completion.d/
!/.config/fzf/
!/.config/git/
/.config/git/config
!/.config/npm/
!/.config/putty/
!/.config/tmux/
!/.config/zsh/
!/.config/bash_completion
!/.config/wgetrc
/.local/bin/clion
/.local/bin/fleet
/.local/bin/gateway
/.local/bin/idea
/.local/bin/rider
/.local/bin/rubymine
/.local/pkg/
/.local/share/*/*history*
/.local/share/fzf/fzf.bash
/.local/share/karabiner/
/.local/share/NuGet/
/.local/share/powershell/Modules/
/.local/share/powershell/PSReadLine/*history*
/.local/share/vim/autoload/plug.vim
/.local/share/vim/plugged/
/.local/share/winmerge/
/.local/share/zinit/
/.local/src/
/.local/state/*/*history*
/.ssh/*
!/.ssh/config
zinit.git/
/bin/*.dll
/bin/*.exe
