.*sh_sessions/
.DS_Store
.zcompcache/
.zcompdump
*.log
*.pid
*.zwc
*htoprc
/.config/.mono/keypairs/
/.config/anyenv/anyenv-install/
/.config/brewfile/*
/.config/chromium/
/.config/compiz-1/
/.config/configstore/*lighthouse*.json
/.config/configstore/update-notifier-*.json
/.config/dconf/
/.config/evolution/
/.config/gh/hosts.yml
/.config/gh/state.yml
/.config/git/config
/.config/git/config*home*
/.config/git/config*work*
/.config/git/gitk
/.config/gnome-initial-setup-done
/.config/ibus/
/.config/iterm2/AppSupport
/.config/karabiner/automatic_backups/
/.config/libaccounts-glib/
/.config/Microsoft*VisualStudio Services/*/Cache/
/.config/nautilus/
/.config/NuGet/NuGet.Config
/.config/pulse/
/.config/scoop/config.json
/.config/stetic/library-cache/
/.config/unity/
/.config/xbuild/pkgconfig-cache-2.xml
/.config/yarn/global/node_modules/
/.config/zsh/.iterm2_shell_integration.zsh
/.config/zsh/.iterm2/
/.local/pkg/
/.local/share/*/*history*
/.local/share/fzf/fzf.bash
/.local/share/powershell/Modules/
/.local/share/powershell/PSReadLine/*history*
/.local/share/vim/autoload/plug.vim
/.local/share/vim/plugged/
/.local/share/winmerge/
/.local/share/zsh/.zplugin/
/.local/src/
/.ssh/*
!/.ssh/config
/bin/*.dll
/bin/*.exe
_zinit
zinit.git/
